@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
}

body section{
    width: 100vw;
    height: 100vh;
    background: rgb(52,52,52);
    background: linear-gradient(rgba(52,52,52,1) 51%, rgba(23,23,23,1) 100%);
}




/*HEADER*/

body section nav{
    width: 100%;
    height: 90px;
    background: rgb(52,52,52);
    background: linear-gradient(rgba(52,52,52,1) 51%, rgba(23,23,23,1) 100%);
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0;
}

body section nav img#logo-header{
    padding: 0px 0px 0px 10px;
    height: 70%;
}


body section nav img#back-botao-login{
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
body section nav button#btn-login{
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0px;
    align-self: center;
    border: none;
    background: transparent;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
    outline: none;
}

body section nav button#btn-login:hover{
    cursor: pointer;
    font-size: 27px;
    font-family: 'Comic Neue', cursive;
    color: yellow;
}


body section nav ul{
    padding: 0;
    margin: 0 10px 0 30px;
}

body section nav ul:hover{
    cursor: default;
}

body section nav ul#cabecalho li{
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #797979;
    margin: 0 30px 0 30px;
    padding: 0 10px 0 10px;
}


.dropbtn{
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #797979;
    margin: 0 30px 0 30px;
    padding: 0 10px 0 10px;
    border: none;
    background-color: transparent;
  }
  
.dropbtn:hover{
    color: #891818;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: #797979;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgb(52,52,52);
    font-family: 'Montserrat', sans-serif;
  }
  

  .dropdown-content a:hover {
      background-color: rgb(65, 65, 65)
      
    }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  


body section nav ul#cabecalho li:hover{
    color: #891818;
    cursor: pointer;
}






/*MAIN*/

main{
    position: relative;
    display: flex;
}


body section main div#img-cabecalho-main{
    width: 100%;
    height: 50vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    opacity: 0.3;
}


body section main div#header-novidades{
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 150px;
    display: inline-block;
}


body section main .header-novidades{
    font-family: 'Montserrat', sans-serif;
    color: #797979;
    font-size: 40px;
    position: absolute;
    margin: 0;
    padding: 0;
}

body section main p.header-novidades{
    margin-left: 30px;
}

body section main a.header-novidades{
    margin: 0;
    padding: 0;
    width: 700px;
    text-decoration: none;
    right: 30px;
    top: 15px;
    font-size: 18px;
    background-color: #3a3a3a;
    text-align: right;
    justify-self: center;
}
body section main a.header-novidades:hover{
    text-decoration: underline;
}


#novidades-hqs{
    position: absolute;
    width: 100vw;
    height: 55vh;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#novidades-hqs img{
    width: 15vw;
    height: 40vh;
    margin: 0px 10px 0 10px;
    overflow: hidden;
    opacity: 0.5;
}



/* FOOTER */

body footer div#footer-marvel {
    background: rgb(52,52,52);
    background: linear-gradient(rgba(23,23,23,1) 51%, rgba(52,52,52,1) 100%);
    display: flex;
    align-items: center;
    box-shadow: 15px 15px 15px  15px;
}

body footer div p{
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* ANIMATION */
.grow {
    animation: grow 0.3s ease-in-out forwards;
}

.shrink {
    animation: shrink 0.3s ease-in-out forwards;
}

@keyframes grow {
    from {
        transform: scale(1.0);
        opacity: 0.5;
    }
    to {
        transform: scale(1.2);
        z-index: 50;
        opacity: 1.0;
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
        z-index: 50;
        opacity: 1.0;
    }
    to {
        transform: scale(1.0);
        z-index: 0;
        opacity: 0.5;
    }
}